In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

In [14]:
data=pd.read_excel('ano.xlsx',sheet_name='Sheet2')

In [15]:
data

      SVW    NW      YN_SC      TOT
0    43.0  31.6          0       31.6
1    41.3  28.8          0       28.8
2    44.4  44.8          0       44.8
3    49.6  37.0          0       37.0
4    47.2  37.7          0       37.7
..    ...   ...        ...        ...
371   NaN   NaN          0       32.4
372   NaN   NaN          0       40.6
373   NaN   NaN          0       37.3
374   NaN   NaN          0       41.0
375   NaN   NaN          0       43.0

[376 rows x 4 columns]

In [4]:
data.SVW[:8]

0    52.1
1    44.8
2    42.8
3    46.0
4    45.5
5    44.4
6    46.5
7    40.0
Name: SVW, dtype: float64

In [8]:
#两样本K-S检验  非参数检验：总体不符合正态分布
stats.ks_2samp(data.SVW[:8],data.NW)

KstestResult(statistic=0.9646017699115044, pvalue=1.8615514045380795e-118)

↑其中statistic就是D值，pvalue即p值,是用于判断原始假设是否正确的重要证据。

这里p值表示如果认为两组样本分布不一致（即拒绝两样品分布相同的零假设）有大约0.11的概率是错的。一般如果它＞0.05，就认为不能认为两组样本分布不一致。也就是认为两组样品分布是一致的。

In [18]:
#K-S检验正态分布
u=data.SVW.mean()
std=data.SVW.std()
stats.kstest(data.SVW[:14],'norm',(u,std))

KstestResult(statistic=0.11588020061037874, pvalue=0.9806604026745875)

In [19]:
#K-S检验正态分布
u=data.NW.mean()
std=data.NW.std()
stats.kstest(data.NW[:362],'norm',(u,std))

KstestResult(statistic=0.49511852368450593, pvalue=1.80182078315563e-82)

↑  P<=0.05时，不服从正态分布；P>0.05时，服从正态分布

若服从，采用两独立样本T检验；若不服从正态，采用秩和检验。

In [9]:
#levene方差齐性检验
stats.levene(data.SVW[:8],data.NW)

LeveneResult(statistic=3.2267413579231783, pvalue=0.07374564836407435)

↑P>0.05时，方差齐，适合比较；P<0.05时，不齐，要看T检验的矫正结果。

In [6]:
#两独立样本t检验
stats.ttest_ind(data.SVW[:8],data.NW)

Ttest_indResult(statistic=3.528405493180046, pvalue=0.0005039202366495426)

↑由于方差齐，因此t=3.528，p=0.0005，差异具有统计学意义

In [13]:
#秩和检验 wilcox
stats.ranksums(data.SVW[:8],data.NW)

RanksumsResult(statistic=4.134634039951191, pvalue=3.555207052232765e-05)

↑P>0.05，没有显著性差异

非参数检验：

两独立样本：MannWhitney U检验、K-S检验、W-W游程检验、极端反应检验

In [48]:
#连续数据的离散化
cats = pd.qcut(X[:,0],4,labels=[1,2,3,4])
X_new = np.array(cats)

for i in range(1,17):
    s = pd.Series(X[:,i])
    cats = pd.qcut(s.rank(method='first'),4,labels=[1,2,3,4]) #i=7\8\9
    cv = np.array(cats)
    X_new = np.vstack((X_new,cv)) #数组合并
    
X_new = X_new.transpose() #矩阵转置

In [46]:
seed=random.randint(0,1000)
X_train,X_test,y_train,y_test = train_test_split(X_new, Y, test_size=0.2, random_state=seed)

0.791
0.000
[[64  0]
 [ 5  0]]

In [24]:
#标准化
from sklearn.preprocessing import  StandardScaler
std=StandardScaler()
X_new=std.fit_transform(X)